# Retrieve the data files for reading in

In [1]:
# Import matplot for plotting later on
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Specify the path to our data
dataPath = "../../data/"

In [26]:
# Walk the data folder, returning a list of all the files
import os
rasterBin = []
for root, dirs, files in os.walk(dataPath, topdown=False):
   for file in files:
        if ".hdr" not in file:
            rasterBin.append(os.path.join(dataPath, file))

for raster in rasterBin:
    print(raster.strip('../../data/'))
print("files retrieved")

est.tiff
vri_s2_objid2.tif_project_4x.bin_sub.bin
S2A.bin_4x.bin_sub.bin
DS_Store
BROADLEAF_SP.tif_project_4x.bin_sub.bin
WATERSP.tif_project_4x.bin_sub.bin
MIXED_SP.tif_project_4x.bin_sub.bin
SHRUB_SP.tif_project_4x.bin_sub.bin
vri_s3_objid2.tif_project_4x.bin_sub.bin
RiversSP.tif_project_4x.bin_sub.bin
L8.bin_4x.bin_sub.bin
CONIFER_SP.tif_project_4x.bin_sub.bin
HERB_GRAS_SP.tif_project_4x.bin_sub.bin
CCUTBL_SP.tif_project_4x.bin_sub.bin
EXPOSED_SP.tif_project_4x.bin_sub.bin
files retrieved

# Read in the original image and truth labeled images for classification

In [4]:
# Library for working with raster images
import rasterio
import numpy as np
from rasterio import plot

In [5]:
import pandas as pd
data_frame = pd.DataFrame(columns=('coastal_aerosol','blue','green','red','vre1','vre2','vre3','nir','narrow_nir','water_vapour','swir_cirrus','swir2', 'label_water_val','label_water_bool', 'label_river_val', 'label_river_bool'))

In [29]:
for raster in rasterBin:
    if "S2A.bin_4x.bin_sub.bin" in raster:
        
        dataset = rasterio.open(raster)     
        for idx in dataset.indexes:
            """
            reads in the current band which is a mat of 401, 410 and ravels it
            storing the result in the current column
            """ 
            data_frame.iloc[:,idx-1] = dataset.read(idx).ravel()
            
    elif "WATERSP.tif_project_4x.bin_sub.bin" in raster:
        data_frame['label_water_val'] = rasterio.open(raster).read(1).ravel()
        data_frame['label_water_bool'] = data_frame['label_water_val'] != 128
        
    elif "RiversSP.tif_project_4x.bin_sub.bin" in raster:
        data_frame['label_river_val'] = rasterio.open(raster).read(1).ravel()
        data_frame['label_river_bool'] = data_frame['label_river_val'] == 1.0
    
    elif "BROADLEAF_SP.tif_project_4x.bin_sub.bin" in raster:
        

# vri_s2_objid2.tif_project_4x.bin_sub.bin
# S2A.bin_4x.bin_sub.bin
# BROADLEAF_SP.tif_project_4x.bin_sub.bin
# WATERSP.tif_project_4x.bin_sub.bin
# MIXED_SP.tif_project_4x.bin_sub.bin
# SHRUB_SP.tif_project_4x.bin_sub.bin
# vri_s3_objid2.tif_project_4x.bin_sub.bin
# RiversSP.tif_project_4x.bin_sub.bin
# L8.bin_4x.bin_sub.bin
# CONIFER_SP.tif_project_4x.bin_sub.bin
# HERB_GRAS_SP.tif_project_4x.bin_sub.bin
# CCUTBL_SP.tif_project_4x.bin_sub.bin
# EXPOSED_SP.tif_project_4x.bin_sub.bin
data_frame

,coastal_aerosol,blue,green,red,vre1,vre2,vre3,nir,narrow_nir,water_vapour,swir_cirrus,swir2,label_water_val,label_water_bool,label_river_val,label_river_bool
0,1199.359985,1009.080017,987.719971,899.039978,1317.599976,2165.679932,2480.000000,2470.239990,1038.800049,10.12,2336.120117,1380.800049,128.0,False,0.0,False
1,1114.880005,858.919983,806.599976,620.080017,1013.760010,1941.880005,2251.080078,2222.520020,981.200012,10.48,1725.880005,935.840027,128.0,False,0.0,False
2,1180.280029,991.200012,972.640015,913.200012,1401.719971,2232.360107,2541.560059,2555.560059,1103.800049,11.44,2461.199951,1369.199951,128.0,False,0.0,False
3,1204.439941,1003.599976,970.239990,930.200012,1406.280029,2173.360107,2464.000000,2485.760010,1110.000000,12.36,2588.800049,1457.199951,128.0,False,0.0,False
4,1214.359985,1014.200012,983.200012,937.760010,1388.680054,2160.840088,2449.879883,2460.520020,1097.079956,12.00,2578.199951,1499.280029,128.0,False,0.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164405,1090.640015,846.760010,800.280029,635.080017,1024.560059,1967.880005,2300.360107,2254.560059,885.719971,7.64,1710.079956,881.880005,128.0,False,0.0,False
164406,1070.319946,847.400024,801.000000,641.679993,1037.680054,1991.839966,2330.280029,2283.320068,881.760010,7.68,1709.479980,882.080017,128.0,False,0.0,False
164407,1030.920044,772.719971,684.960022,486.959991,784.880005,1743.800049,2085.719971,2042.119995,815.840027,7.48,1219.000000,591.640015,128.0,False,0.0,False
164408,985.400024,715.280029,600.239990,372.079987,634.400024,1687.760010,2071.760010,2029.880005,782.880005,6.68,859.520020,362.959991,128.0,False,0.0,False
164409,974.440002,709.840027,592.080017,360.920013,621.520020,1667.880005,2058.919922,2014.719971,784.320007,6.24,798.159973,325.440002,128.0,False,0.0,False